{TEMPLATE:HTML_HEADER}
			
			<script>
				function add_row_scope ( aGeneralArray, aSpecialArray ) {
					var aMergedArray = new Array();
					
					if ( $.type(aGeneralArray) !== "array" || aGeneralArray.length <= 0 ) aGeneralArray = new Array();
					if ( $.type(aSpecialArray) !== "array" || aSpecialArray.length <= 0 ) aSpecialArray = new Array();
					
					$.each(aGeneralArray, function ( object_name, single_object ) {
						single_object.scope = "{MODULE_AREA_NAME}";
						aMergedArray.push(single_object);
					});
					$.each(aSpecialArray, function ( object_name, single_object ) {
						single_object.scope = "{MODULE_NAME}";
						aMergedArray.push(single_object);
					});
					
					return aMergedArray;
				}
				function HtmlFromLinkTextObject ( link_text_object ) {
					var return_string = '<ul>';
					$.each(link_text_object, function ( LinkName, LinkContent ) {
						if ($.type(LinkContent) === "string") {
							return_string += '<li><a href="'+LinkContent+'">'+LinkName+'</a></li>';
						} else {
							return_string += '<li>' + LinkName + HtmlFromLinkTextObject(LinkContent) + '</li>';
						}
					});
					return return_string + '</ul>';
				}
				
				$(document).ready(function() {
					$.getJSON("/status?module=environment&name={MODULE_AREA_NAME}&value={MODULE_NAME}&output=json.parsed", function(result){
						
						if (result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].text_warning) {
							$("#idTextWarningBox").removeClass('hidden');
							$("#idTextWarning").html(result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].text_warning);
						}
						
						$("#idTextDescriptionGeneral").html(result.environment['{MODULE_AREA_NAME}'].text_description);
						$("#idTextDescriptionSpecial").html(result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].text_description);
						
						$("#idTextTest").html(result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].text_test);
						$("#idTextConfiguration").html(result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].text_configuration);
						$("#idTextLinks").html( HtmlFromLinkTextObject( result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].text_links ));
						
						$('#idTextConfigurationTable').html( '<table class="display table table-bordered table-hover table-striped" id="idTextConfigurationTableContent"></table>' );
						$('#idTextConfigurationTableContent').dataTable({
							data: add_row_scope(
								result.environment['{MODULE_AREA_NAME}'].configuration,
								result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].configuration
							),
							columns: [
								{ "data": "scope", "title": "Gültigkeit" },
								{ "data": "section", "title": "Sektion" },
								{ "data": "key", "title": "Schlüssel" },
								{ "data": "type", "title": "Wert" },
								{ "data": "default", "title": "Vorgabe" },
								{ "data": "description", "title": "Beschreibung" }
							]
						});
						
						$('#idTextEventTable').html( '<table class="display table table-bordered table-hover table-striped" id="idTextEventTableContent"></table>' );
						$('#idTextEventTableContent').dataTable({
							data: add_row_scope(
								result.environment['{MODULE_AREA_NAME}'].events,
								result.environment['{MODULE_AREA_NAME}'].libraries['{MODULE_NAME}'].events
							),
							columns: [
								{ "data": "scope", "title": "Gültigkeit" },
								{ "data": "name", "title": "Name" },
								{ "data": "description", "title": "Beschreibung" }
							]
						});
					});
				});
			</script>
			
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{MODULE_AREA_NAME} {MODULE_NAME}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-red hidden" id="idTextWarningBox">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Achtung</i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="idTextWarning">
                        </div>
                        <!-- /.panel-body -->
                    </div>
					<!-- /.panel -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Aufgabe</i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="idTextDescriptionGeneral">
                        </div>
                        <!-- /.panel-body -->
						<div class="panel-footer" id="idTextDescriptionSpecial">
						</div>
						<!-- /.panel-footer -->
                    </div>
                    <!-- /.panel -->
					<div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Konfiguration</i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<p id="idTextConfiguration"></p>
							Es stehen folgende Konfigurationsparameter zur Verfügung, die genutzt werden können.<br />
							Mit Gültigkeit wird beschrieben, ob dieser Konfigurationsparameter für alle Module des Typs {MODULE_AREA_NAME} gültig ist, oder speziell für dieses Modul {MODULE_NAME}
                        </div>
                        <!-- /.panel-body -->
						<div class="panel-footer" id="idTextConfigurationTable">
						</div>
						<!-- /.panel-footer -->
                    </div>
					<!-- /.panel -->
					<div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Events</i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							Es stehen folgende Events zur Verfügung, auf die mit Actions reagiert werden kann.<br />
							Mit Gültigkeit wird beschrieben, ob dieses Event für alle Module des Typs {MODULE_AREA_NAME} gültig ist, oder speziell für dieses Modul {MODULE_NAME}
                        </div>
                        <!-- /.panel-body -->
						<div class="panel-footer" id="idTextEventTable">
						</div>
						<!-- /.panel-footer -->
                    </div>
                </div>
                <!-- /.col-lg-8 -->
				<div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw">Links</i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="idTextLinks">
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

{TEMPLATE:HTML_FOOTER}
